DO NOT WRITE ANY CODE 

I am looking to build a gameboy emulator from scratch -> for learnign purpose specially system programming. 
Ignore the code each when i'm asking general question -> I will tell you when you can check up the code.
